
<table>
  <thead>
    <tr>
      <th>name</th>
      <th>size</th>
      <th>info</th>
    </tr>
    <% @folders.each do |folder| %>
      <tr>
        <td><%= link_to folder, "/folders/#{folder}"%></td>
        <td><%=  ''%></td>
        <td><%= '' %></td>
      </tr>
    <% end %>
</table>