<div id="sidebar">
   <h2 class="sideheader">Links</h2>
   <div id="navcontainer">
     <ul id="sidenav">
       <li><a href="http://www.free-css.com/">Snapp Happy</a></li>
       <li><a href="http://www.free-css.com/">TODC</a></li>
       <li><a href="http://www.free-css.com/">Andreas Viklund</a></li>
       <li><a href="http://www.free-css.com/">James Koster</a> </li>
       <li><a href="http://www.free-css.com/">CSS play</a></li>
       <li><a href="http://www.free-css.com/">Listamatic </a> </li>
     </ul>
   </div>
   <h2 class="sideheader">News</h2>
   <div class="scroll">
     <h1>April 09 2007</h1>
     <p class="news">Use this space as a mini weblog maybe .....</p>
     <h1>April 08 2007</h1>
     <p class="news">.... or for news &amp; updates.</p>
     <h1>April 07 2007</h1>
     <p class="news">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur mi. Sed interdum. Nam facilisis dui a nisi. Phasellus euismod augue quis erat. </p>
   </div>
   <h2 class="sideheader">Information</h2>
   <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur mi. Sed interdum. Nam facilisis dui a nisi. Phasellus euismod augue quis erat. Nunc libero libero, lobortis ut, placerat vel, dapibus eu, nisl. Fusce a nisi sed urna aliquet molestie. Aenean pretium, orci vitae lobortis rutrum, magna arcu pulvinar elit, id suscipit nunc tellus in felis. Nam vitae purus non nisi ultricies volutpat.</p>
 </div>