
%ul{:class=>'playlist songs_list'}
  - @songs.each do |song|
    %li
      %span.control_icons
        %span{:rel=>"/playlist/enque/#{song.id}"} +
      %span.song
        = link_to_song song        
      %span.info
        %span.artist= song.artist
        %span.album= song.album
      %span.position
      %span.duration