/* @override http://localhost:4567/stylesheets/main.css */

body { 
font : verdana, tahoma, "Trebuchet MS", arial, sans-serif;
background : white;
color: gray;
} 

a{
	color: #4183c4;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
table{
	border-bottom: 2px solid gray;
	padding: 0px;
	margin: 0px;
}
th{
	height: 5ex;
}

span.path_element {
	margin-right: .5ex;
}

div.scan_folder {
	background-color: #fff6a9;
	border-bottom: 1px dotted gray;
}
td{
	height: 5ex;
	margin: 0px;
	border-top: 1px solid gray;	
}

h1.current_folder {
	background-color: #fff6a9;
	/*width: 98%;*/
	display: block;
	margin: 0px;
	padding: 5px;
	border-bottom: 1px dotted gray;
}

