/* @override 
	http://localhost:4567/stylesheets/main.css
	http://192.168.4.10:8600/stylesheets/main.css
*/

body { 
font : verdana, tahoma, "Trebuchet MS", arial, sans-serif;
background : white;
color: gray;
} 

a{
	color: #4183c4;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
table{
	border-bottom: 2px solid gray;
	padding: 0px;
	margin: 0px;
}
th{
	height: 5ex;
}

span.path_element {
	margin-right: .5ex;
}

div.scan_folder {
	background-color: #fff6a9;
	border-bottom: 1px dotted gray;
}
td{
	height: 5ex;
	margin: 0px;
	border-top: 1px solid gray;	
}

h1.current_folder {
	background-color: #fff6a9;
	/*width: 98%;*/
	display: block;
	margin: 0px;
	padding: 5px;
	border-bottom: 1px dotted gray;
}




.playlist li:hover .control_icons {
 	display: inline-block;
	color: #4c4c4c;
	font-weight: bold;
}



div#control_pane{
	display:block;
	
}
/*div#control_pane div{
	display: inline-block;
}*/
#play_pause_button .playing{
	background-image: url(/images/play.jpg);
}
#play_pause_button .paused{
	 background-color:#999;

}


.sm2_played{
	opacity: 0.75;
}


.enque_button{
  width:1.5ex;
	float: left;
	display: inline-block;
	color:white;
}

.playlist li:hover span.enque_button{
  color:gray;
}
.playlist li:hover span.enque_button:hover{
  text-decoration:bold;
}
div.playable_song{
	display: inline-block;
	height: 200px;
}

.waveform{
	width: 100%;
		/*position: absolute;*/
	/*background-image:url(http://localhost/waveform_css/waveform.png) no-repeat;*/
}

.waveform_played {
  display:none;
	height: 100%;
	border-right: 2px solid black;
	position: absolute;
	background-color: #99ccff;
}

